#root {
  background: #000;
}

.App {
  width: 1440px;
  max-width: 1440px;
  margin: 0 auto;
  background: white;
}

@media (min-width: 320px) and (max-width: 480px) {
  .App {
    width: 100%;
    max-width: 100%;
  }
}

#push-notification-debug {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 100px;
  border: 2px solid yellow;
  background: orange;
  color: white;
  cursor: pointer;
  padding: 20px;
  display: flex;
  justify-content: center;
}
